.page-login {
    margin: 0 auto;
    width: 385px;
    text-align: center;
    position: relative;
    top: $loginBrandHeight * -1;

    .brand {
        height: $loginBrandHeight;
        padding: 25px 10px;

        h1 {
            padding: 0;
            margin: 0;
        }
    }

    .panel-login {
        .panel-body {
            > .form-group {
                margin-bottom: 0;
            }
        }

        button[type="submit"] {
            display: block;
            width: 100%;
        }
    }
}
